@font-face {
    font-family: balthazar;
    src: url('../fonts/Balthazar-Regular.ttf');
}

@font-face {
    font-family: galdeano;
    src: url('../fonts/Galdeano-Regular.ttf');
}

@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}


.roboto {
    font-family: roboto;
}

.galdeano{
    font-family: galdeano;
}

.balthazar{
    font-family: balthazar;
}

